<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
  <thead>
  <tr>
    <th scope="col"><%= sort_link(@q, :id) %></th>
    <th scope="col">Автор</th>
    <th scope="col">Громкость</th>
    <th scope="col">Частота</th>
    <th scope="col">Продолжительность измерений</th>
    <th scope="col">Комментарий</th>
    <th scope="col">Координаты</th>
    <th scope="col">Дата</th>
    <th scope="col">Ред.</th>
    <th scope="col">Удалить</th>
  </tr>
  </thead>
  <tbody>
  <% @points.each do |point| %>
    <tr>
      <td><%= point.id %></td>
      <td><%= point.user&.name %></td>
      <td><%= point.decibel %></td>
      <td><%= point.frequency %></td>
      <td><%= point.minutes %></td>
      <td><%= point.comment %></td>
      <td><%= point.lat.round(5) if point.lat %>, <%= point.lon.round(5) if point.lon %></td>
      <td><%= point.created_at.in_time_zone("Moscow").strftime("%Y-%m-%d %k:%M") %></td>
      <td><%= link_to '>', edit_point_path(point), class: 'btn btn-secondary' %></td>
      <td><%= link_to '-', point_path(point), method: :delete, class: 'btn btn-danger' if point.user == current_user %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @points, theme: 'twitter-bootstrap-4' %>