<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <title>Acoustic in the City</title>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to 'Acoustic in the City', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to 'Добавить точку', add_path, class: 'nav-link' %>
        </li>
        <li class="nav-item active">
          <%= link_to 'Все точки', points_path, class: 'nav-link' %>
        </li>
        <li class="nav-item active">
          <%= link_to 'Экспорт csv', get_csv_path, class: 'nav-link' %>
        </li>
        <li class="nav-item active">
          <%= link_to 'Heatmap', heatmap_path(radius: 0.005), class: 'nav-link' %>
        </li>
        <% if current_user %>
          <li class="nav-item active">
            <%= link_to 'Профиль', edit_registration_path(current_user), class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'Выход', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
